page-project-details {

    .loader-container {
        display: none;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000;

        width: 150px;
        height: 50px;
        background-color: #ffffff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

        text-align: center;
        line-height: 50px;
        border-radius: 2px;

        &.active {
            display: block;
        }

    }

    .buttons-container {
        position: relative;
        width: 100%;
        height: 50px;

        .upload-photo-button {
            position: absolute;
            width: 100px;
            height: 35px;

            top: 50%;
            left: 0;

            transform: translate(0, -50%);

            line-height: 35px;
            border-radius: 2px;

            text-align: center;
            text-transform: uppercase;

            cursor: pointer;
            background-color: #03A9F4;
            color: #ffffff;
            transition: background-color ease 0.2s;

            &:hover {
                background-color: #058bf4;
            }
        }

        .calculate-button {
            position: absolute;
            width: 100px;
            height: 35px;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            line-height: 35px;
            border-radius: 2px;

            text-align: center;
            text-transform: uppercase;

            cursor: pointer;
            background-color: #7e7e7e;
            color: #ffffff;
            transition: background-color ease 0.2s;

            &.active {
                background-color: #2ded54;
            }

            //&:hover {
            //    background-color: #AF0139;
            //}
        }

        .export-button {

            position: absolute;
            width: 100px;
            height: 35px;

            top: 50%;
            right: 0;

            transform: translate(0, -50%);

            line-height: 35px;
            border-radius: 2px;

            text-align: center;
            text-transform: uppercase;

            cursor: pointer;
            background-color: #03A9F4;
            color: #ffffff;
            transition: background-color ease 0.2s;

            &:hover {
                background-color: #058bf4;
            }

        }

    }

    .images-list {
        margin-top: 20px;

        .image-container {
            position: relative;
            height: 200px;
            width: 100%;

            margin-bottom: 10px;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);

            .remove-button {
                position: absolute;
                right: 2px;
                top: 2px;
                z-index: 10;

                border-radius: 2px;
                padding: 2px 4px;

                background-color: rgba(255, 255, 255, 0.6);
                color: #565656;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
                cursor: pointer;

                transition: background-color 0.2s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 1.0);
                }

            }

            .image {
                position: relative;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;

            }

        }

    }

    .map-container {
        position: relative;

        margin-top: 10px;

        width: 100%;
        height: 400px;
    }

}
